.box{
    width: 100%;
height: auto;

}
html{
    scroll-behavior: smooth;
}
.home-logo-img{
    width: 350px;
    height: 320px;
    border-radius: 230px;
    right: 120px;
    border-color: white!important;
    position: absolute;

}
.shadow{
    box-shadow: 4px 5px 10px 1px #E3C152;
}
body{
    background-color: black !important;
 color: #E3C152  !important;
}
#particles-js {
    height: 70vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    top:0px;
    z-index: 0;

}
.bg-dark{
    background-color: black !important;
}
#particles-js img{
  
    z-index: -2;
}
.left-box{
    z-index: 3;
    position: absolute;
    left: 120px;

}
.bootstrap-icons{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 15px;
    
  
}
.logo{
    width: 40px;
    height: 100px;
}
.About{
    border-radius: 15px;
    padding: 5px;
    color: black;
    background-color: #E3C152;
    border-color: #c5a53b;
}
.mk{
    border-radius: 20px;
     background-color: #E3C152;
   border-color: #c5a53b;
   margin-right: 5px;
}
.left-img{
    width: 350px;
    height: 320px;
    
}
.wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.right-text{
    width: 50%;;
}
.me{
    font-size: 40px; 
}   
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edbox{
   background-color: rgb(10, 10, 10);
   color:#E3C152 ;
    width: 750px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    
}
.ed-img{
    height: 150px;
    width: 200px;
}
.right-box-ed{
    margin-left:10px
}
.skill-box{
    width: 50%;
    height: auto;
  display: flex;
  flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 30px;
 
}
.skill{
    width: 50px;
    height: 50px;
color: #E3C152;
}
.Contact{
display: flex;
flex-direction: column;
align-items:center;
margin-left: 320px;
margin-top: 58px;

}
.Contact input{
    margin:18px 0px ;
     border-radius:10px ;
     border: 4px solid #c5a53b;
     width: 400px;
     height: 45px;
     
}

textarea{
    border: 4px solid #c5a53b;
      border-radius: 10px ;
}
.Contact button{
    background-color: #c5a53b;
    margin-top:4px ;
    border-radius: 8px;
    height: 30px;
    width: 80px;

}
.form-box{
    display: flex;
    flex-direction: row;
}

.scroll-to-top{
    position: sticky;
    bottom: 30px;
    right: 30px;
    width:50px;
    height: 50px;
    border-radius: 25px;
    background-color: #E3C152;
}