.box{
    width: 100%;
height: auto;
box-shadow: 4px 5px 15px 10px #E3C152;
}
.home-logo-img{
    width: 350px;
    height: 320px;
    border-radius: 230px;
    right: 120px;
    border-color: white!important;
    position: absolute;

}
body{
    background-color: black !important;
 color: #E3C152  !important;
}
#particles-js {
    height: 70vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top:100px;
    z-index: 0;

}
.bg-dark{
    background-color: black !important;
}
#particles-js img{
  
    z-index: -2;
}
.left-box{
    z-index: 3;
    position: absolute;
    left: 120px;

}
.bootstrap-icons{
    flex-direction: column;
    display: flex;
}
.logo{
    width: 40px;
    height: 100px;
}